/* -------------------- *\
|        $DESKTOP        |
\* -------------------- */
/*-----Display x large*/
/*-----Display large*/
/*-----Display medium*/
/*-----Display small*/
/*-----Button*/
/*-----Body*/
/* -------------------- *\
|        $MOBILE         |
\* -------------------- */
/*-----Display x large*/
/*-----Display large*/
/*-----Display medium*/
/*-----Display small*/
/*-----Button*/
/*-----Body*/
main, .login-form {
  width: 100%;
  height: 90vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main figure {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.logo {
  width: 40px;
  height: auto;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 80%;
  max-width: 550px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.login--title {
  font-size: 26px;
  color: #008cff;
  margin-bottom: 10px;
}

.login--text {
  margin-bottom: 30px;
}

.login__card, .login__remember {
  margin-bottom: 20px;
}

.login__card:nth-child(2) {
  margin-bottom: 10px;
}

.login__card p {
  font-size: 10px;
  padding-bottom: 5px;
  font-weight: 600;
}

.login__card input {
  width: 100%;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.login__card input:hover {
  border: 2px solid #008cff;
}

.login__remember input {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  cursor: pointer;
}

.login__remember span {
  font-size: 14px;
  font-weight: 300;
}

#submit {
  width: 50%;
  height: 35px;
  font-size: 14px;
  margin: 0 auto;
  border-radius: 15px;
  border: none;
  background-color: #008cff;
  color: white;
  outline: none;
  margin-top: 10px;
  cursor: pointer;
}

#submit:hover {
  background-color: white;
  color: #008cff;
  border: 1px solid #008cff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  background-color: #3b3b3b;
  margin: 0 auto;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  font-size: 14px;
  text-decoration: underline;
  color: white;
  margin-left: 10px;
}
/*# sourceMappingURL=login.css.map */