footer {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  font-size: $mobile-body-font-size;
  background-color: $footer-color;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  font-size: $mobile-body-font-size;
  text-decoration: underline;
  color: white;
  margin-left: 10px;
}
footer ul li a:hover {
  text-decoration: underline;
}
.employees {
  min-height: 38vh;
}