@import "../libs/colors";
@import "../libs/typography";

main > h2 {
  position: absolute;
  top: 100px;
  left: 0px;
  font-size: $desktop-xlarge-font-size;
}
.information__header {
  background: none;
  margin: 0;
}
.information__body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: none;
}
.information__body > img {
  width: 30px;
  height: 30px;
}
footer {
  position: absolute;
  bottom: 0;
}