@import "../libs/typography";
@import "../libs/colors";

.logo {
  width: 60px;
  height: 52.36;
  display: none;
}
.two-factor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
}
.two-factor--title {
  font-size: $mobile-medium-font-size;
  font-weight: $mobile-large-font-weight;
  margin-bottom: 10px;
}

.two-factor__input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.two-factor__input p {
  font-size: $mobile-body-font-size;
  color: $subdued-text;
}
.two-factor__input--image {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100px;
  height: 118.1px;
}
.phone-form {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.phone-form input {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  font-size: $mobile-medium-font-size;
  outline: none;
  border: none;
  background-color: #d9dbdf;
  border-radius: 8px;
  transition: width 0.3s, height 0.3s, border 0s;
  text-transform: uppercase;
}
.phone-form input:focus {
  width: 50px;
  height: 50px;
  border: none;
}
.two-factor__input a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.two-factor__input a:hover {
  text-decoration: underline;
}
.two-factor input[type="submit"] {
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  background-color: $principal-color;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.two-factor input[type="submit"]:focus {
  border: 1px solid black;
}